<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorTools</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="floatconversion">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 浮点转换
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modbusCRC">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ModbusCRC16
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rsatools">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Rsa加密解密
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="strencoder">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 字符串编码解码
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
