@page "/"
@using BlazorTools.Client.Components
<style>
    .box-list {
        display: grid;
        gap: 13px;
        grid-template-columns: repeat(auto-fill,minmax(285px,1fr));
        justify-content: space-evenly
    }
</style>
<PageTitle>BlazorTools</PageTitle>

<h1>Blazor Tools!</h1>

<div class="box-list">
    <BoxPanel navUrl="floatconversion" Title="浮点转换" />
    <BoxPanel navUrl="modbusCRC" Title="CRC计算" />
    <BoxPanel navUrl="rsaTools" Title="RSA加密解密" />
    <BoxPanel navUrl="urlencoder" Title="Url编码/解码" />
    <BoxPanel navUrl="base64encoder" Title="Base64Encoder" />
    <BoxPanel navUrl="qrcode" Title="二维码" />
    <BoxPanel navUrl="mp4tomp3" Title="MP4 to MP3" />
    <BoxPanel navUrl="m4atomp3" Title="M4A to MP3" />
    <BoxPanel navUrl="pictureToBase64" Title="Img转Base64" />
    <BoxPanel navUrl="imgtoicon" Title="Img转Icon" />
    <BoxPanel navUrl="ipinfo" Title="IP Info" />
    <BoxPanel navUrl="dnsleak" Title="DNS泄露" />
    <BoxPanel navUrl="jsonstrformate" Title="Json格式化" />
    <BoxPanel navUrl="dateconvert" Title="DateConvert" />
</div>

