@page "/test"
@inject IJSRuntime JS

<h3>Test</h3>
<button class="btn btn-primary" onclick="@btnClick">测试</button>
<InputFile OnChange="@LoadFiles" multiple />
@code {
    async Task btnClick(EventArgs e)
    {


       

    }
    private List<IBrowserFile> loadedFiles = new();
    private long maxFileSize = 1024 * 15;
    private int maxAllowedFiles = 3;
    private bool isLoading;
    private void LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                loadedFiles.Add(file);
            }
            catch (Exception ex)
            {
                //Logger.LogError("File: {Filename} Error: {Error}",
                //    file.Name, ex.Message);
            }
        }

        isLoading = false;
    }
}
