@page "/test"
@inject NavigationManager NavigationManager

<h3>Test</h3>
<button @onclick="Goto">跳转到components</button>
@code {
    private void Goto()
    {
        NavigationManager.NavigateTo("/mp4tomp3");
    }
}
